# Omo Sapiens
Omo Sapiens are amazing passionate creatures

## Their Habits
Let's have a look into the weeklife of the OMO, or the so called **o**pen **m**inded **o**rganisationtalents. They structure their habits around openly comitted, well defined and adapting shortterm, middleterm, longterm and lifelong dreams they wish to grow on in their lifes. The flow of information exchange and knowledge growth between OMO's follow stigmergic-pathways, which is an asynchroneous and decentralized cooperation pattern based on human relationships. 
